.section-summary {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  border: 1px solid #f0f0f0;

  border-radius: 9px;
}

.summary-title-container {
  background-color: #e5e5e5;
  width: 98%;
  border-radius: 9px 9px 0px 0px;
  padding-left: 2%;
}

.summary-table {
  display: flex;
  border-radius: 9px;
  width: 98%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;

  border-spacing: 0 0.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.summary-table-tr {
  display: flex;
  flex-direction: column;
}

.summary-table-tr th,
.summary-table-tr td {
  padding: 0.6rem;
  border: 1px solid #e1e1e1;
}

.summary-table-tr th {
  background-color: #e5e5e5;

  font-weight: normal;
}

.summary-table-tr th:first-child {
  border-radius: 9px 0px 0px 0px;
}

.summary-table-tr th:last-child {
  border-radius: 0px 0px 0px 9px;
}

.summary-table-tr td:first-child {
  border-radius: 0px 9px 0px 0px;
}

.summary-table-tr td:last-child {
  border-radius: 0px 0px 9px 0px;
}
