.servers-table {
  border-radius: 9px;
  width: 98%;
  margin: 1rem auto;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-spacing: 0;

  text-align: center;
}

.servers-table-tr td {
  padding: 0.6rem;
  border: 1px solid #dddddd;
  margin: 0;
}

.no-server td {
  text-align: center;
  padding-top: 1rem;
}
